#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>

#define DEFAULT 0
#define FUNCTION 1
#define UPPER 2
#define LOWER 3
#define SYSTEM 4
#define MOUSE 5

/ {
    behaviors {
        bhm: bhm {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <200>;
      quick-tap-ms = <0>;
      flavor = "balanced";
      bindings = <&kp>, <&kp>;
    }; 

        bat: bat {
            compatible = "zmk,behavior-battery-indicator";
            display-name = "Battery Indicator";
            #binding-cells = <0>;
        };

        bootl: bootl {
            compatible = "hatsu,behavior-bootloader";
            display-name = "Bootloader";
            #binding-cells = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        layer_1 {
            label = "default";
            bindings = <
     		&none   &kp Q           &kp W         &kp E         &kp R         &kp T         &kp	Y       &kp U          &kp I         &kp O         &kp P &none
		&none  &bhm LSHIFT A   &bhm LALT S   &bhm LGUI D   &bhm LCTRL F  &kp G         &kp H       &bhm LCTRL K    &bhm LGUI K   &bhm LALT L   &bhm LSHIFT SEMI &none
		&none  &kp Z           &kp X         &kp C         &kp V         &kp B         &kp N       &kp M           &kp CMMA      &kp DOT       &kp FSLH &none
                        &none &none                                 	 	&kp LBKT &kp RBKT
                        &none &lt 1 SPACE	                           	&lt 2 BSPC &lt 3 ENTER
                        &none &none             	                     	&none 	 &none
                        &mo SYSTEM &mo FUNCTION                             	&mo MOUSE &mo SYSTEM
            >;
        };

        layer_2 {
            label = "num";
            bindings = <
        &kp F11 &kp F7         &kp F5        &kp F3        &kp F1        &kp F9        &kp F10     &kp F2          &kp  F4       &kp F6        &kp F8 &kp F12
        &none &bhm LSHIFT N7  &bhm LALT N5  &bhm LGUI N3  &bhm LCTRL N1 &kp N9        &kp N0      &bhm LCTRL N2   &bhm LGUI N4  &bhm LALT N6  &bhm LSHIFT N8 &none
        &none &kp BSLH        &kp SQT       &none         &none         &none         &none       &kp LBKT        &kp RBKT      &kp MINUS     &kp EQUAL &none
                        &trans &trans                                             &trans &trans
                        &trans &trans                                             &trans &trans
                        &trans &trans                                             &trans &trans
                        &trans &trans                                             &trans &trans
            >;
        };

        layer_3 {
            label = "function";
            bindings = <
        &none &kp ESC         &kp HOME      &kp UP        &kp END       &none         &bootloader	&tog 5          &tog 6        &none         &kp DEL &none
        &none &kp TAB         &kp LEFT      &kp DOWN      &kp RIGHT     &none         &none       &kp LCTRL       &kp LGUI      &kp LALT      &bhm LSHIFT K_CMENU &none
        &none &none          &kp C_PREV    &kp C_PP      &kp C_NEXT    &none         &sys_reset  &none           &none         &none         &none &none
                        &trans &trans                                             &trans &trans
                        &trans &trans                                             &trans &trans
                        &trans &trans                                             &trans &trans
                        &trans &trans                                             &trans &trans
            >;
        };

        layer_4 {
            label = "gaming";
            bindings = <
             &kp ESC &kp Q &kp W &kp E &kp R &kp T           &kp Y &kp U &kp I &kp O &kp P &none
            &kp TAB &kp A &kp S &kp D &kp F &kp G     &kp H &kp J &kp K &kp L &kp SEMICOLON &none
            &none &kp Z &kp X &kp C &kp V &kp B         &kp N &kp M &kp COMMA &kp PERIOD &kp SLASH &none	                
	       		&trans &trans                                             &trans &trans
                        &trans &trans                                             &trans &trans
                        &trans &trans                                             &trans &trans
                        &trans &trans                                             &trans &trans
            >;
        };

        layer_5 {
            label = "system";
            bindings = <
            &bl BL_TOG &bat &sys_reset &bootl &bt BT_CLR &trans                &trans &bt BT_CLR &bootl &sys_reset &bat &bl BL_TOG
            &bt BT_NXT &trans &trans &trans &trans &trans                &trans &trans &trans &trans &trans &trans
            &bt BT_PRV &trans &trans &trans &trans &trans                &trans &trans &trans &trans &trans &trans
                   &trans &trans                                                   &trans &trans
                   &trans &trans                                                   &trans &trans
                   &trans &trans                                                   &trans &trans
                   &trans &trans                                                   &trans &trans
            >;
        };

        layer_6 {
            label = "mouse";
            bindings = <
            &trans &trans &trans &trans &trans &trans                &mkp LCLK       &mkp MCLK       &mkp RCLK     &trans          &trans &trans
            &trans &trans &trans &trans &trans &trans                &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT &trans &trans
            &trans &trans &trans &trans &trans &trans                &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT &trans &trans
                        &trans &trans                                             &trans &trans
                        &trans &trans                                             &trans &trans
                        &trans &trans                                             &trans &trans
                        &trans &trans                                             &trans &trans
            >;
        };

        layer_7 {
            label = "reserved";
            bindings = <
            &trans &trans &trans &trans &trans &trans                &trans &trans &trans &trans &trans &trans
            &trans &trans &trans &trans &trans &trans                &trans &trans &trans &trans &trans &trans
            &trans &trans &trans &trans &trans &trans                &trans &trans &trans &trans &trans &trans
                        &trans &trans                                             &trans &trans
                        &trans &trans                                             &trans &trans
                        &trans &trans                                             &trans &trans
                        &trans &trans                                             &trans &trans
            >;
        };
    };
};
